.all_view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 20px;
    gap: 15px;
    padding-top: 70px;
}
.blacknav{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #6c6c6c32 !important;
  backdrop-filter: blur(8px);
  height: 50px;
}