.all_view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 25px;
    gap: 15px;
    padding-top: 90px;
}
.blacknav{
    position: fixed;
    width: 100%;
    z-index: 1;
}