.MainImage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 85px;
}

.mainimage_details-view{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    width: 64%;
}

@media (max-width:988px) {
    .mainimage_details-view{
        width: 90%;
    }
}