.admin_view{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-family: Montserrat, sans-serif;
    margin-top: 72px;
}

.adminnav{
  background-color: #c3c3c337 !important;
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100%;
  margin-top: 2px;
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.462);
-moz-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.378);
}

.form-container__sign-app-buttons svg {
    width: 22px;
    height: auto;
  }
  
  .form-container {
    min-width: 350px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #4b4b4b;
    min-height: 20px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffc400;
    font-family: Montserrat, sans-serif;
  }
  
  .form-container:focus-within:not(:focus) {
    box-shadow: 0 0 6px 3px #caedff;
    -webkit-box-shadow: 0 0 6px 3px #caedff;
    outline: 1px solid #ffc400;
  }
  
  .form-container p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 14px;
  }
  
  .top-line {
    padding-top: 12px;
  }
  
  .form-container__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  
  .form-container__form input {
    height: 31px;
    border: 1px solid #d9d9d9;
    padding: 4px;
    font-size: 14px;
    line-height: 1.65;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  
  .form-container__form input:focus {
    border-color: #000000;
    outline: 0;
    box-shadow: none;
  }
  
  .form-container__register-buttons {
    display: flex;
    column-gap: 10px;
  }
  
  .form-container__sign {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.65;
    border-radius: 20px;
    width: 100%;
    white-space: nowrap;
    background-color: #000000;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  /* -----------------------image upload-------------------------- */

  .edit_image2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .uploader2{
    cursor: pointer;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: small;
    display: inline-block;
    margin-bottom: 10px;
    background-color: #000000;
    font-family: Montserrat, sans-serif;
  }
  
  .image-preview2 {
    width: 290px;
    height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    border: 1px solid rgba(84, 84, 84, 0.319);
  }