.SignUp_page{
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.signUp_word{
  text-shadow: 2px 2px 4px #000000ac;
}

.holder {
  background:#ffc400;
  padding:0.4rem;
  overflow: hidden;
  width: 100%;
}
.news {
  font-family: Montserrat, sans-serif;
  animation : slide 10s linear infinite;
  font-weight: 500;
}

@keyframes slide {
  0% {
    transform: translatex(0%)
  }

  100% {
    transform: translatex(100%)
  }
}

.SignUp_Welcome{
    padding: 15px 40px 20px 40px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: #696969;
    text-align: center;
    background: rgb(255, 255, 255);
}

.signUp_content img {
    margin-bottom: 41px;
  }
  
  .signUp_container {
    border-radius: 1px;
    padding: 40px 40px 20px 40px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: #545454;
    border: 1px solid rgb(192, 192, 192);
    text-align: center;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 121px 5px rgb(192, 192, 192);
  }
  
  .signUp_content__form {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }
  
  .signUp_content__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  
  .signUp_content__form label {
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    position: relative;
    min-width: 268px;
    height: 38px;
    background: rgb(250, 250, 250);
    border-radius: 3px;
  }
  
  .signUp_content__form span {
    position: absolute;
    text-overflow: ellipsis;
    transform-origin: left;
    font-size: 14px;
    left: 8px;
    pointer-events: none;
    transition: transform ease-out .1s
  }
  
  .signUp_content__form input {
    width: 100%;
    height: 100%;
    background: inherit;
    border: 0;
    outline: none;
    padding: 9px 8px 7px 8px;
    text-overflow: ellipsis;
    font-size: 15px;
    vertical-align: middle;
  }
  
  .signUp_content__form input:valid+span {
    transform: scale(calc(9 / 12)) translateY(-12px);
  }
  
  .signUp_content__form input:valid {
    padding: 19px 0 2px 8px;
    font-size: 15px;
  }
  
  .signUp_content__or-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    column-gap: 18px;
  }
  
  .signUp_content__or-text span:nth-child(3),
  .signUp_content__or-text span:nth-child(1) {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(219, 219, 219);
  }
  
  .signUp_content__forgot-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    row-gap: 21px;
  }
  
  .signUp_content__forgot-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: #00376b;
  }
  
  .signUp_content__forgot-buttons button:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
  }

  .signUp_contact{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
  }
  
  .signUp_content__form .register {
    background: #ffc400;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 16px;
    cursor: pointer;
    transition: 1s;
    width: 150px;
  }
  
  .signUp_content__form .register:hover {
    background: #000000;
    color: #ffc400;
    width: 200px;
  }
  
  .signUp_content__form button:active:not(:hover) {
    background: rgb(0, 0, 0);
    opacity: .7;
  }

  .ui3-btn {
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(0, 0, 0);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #000000;
    --default-btn-color: #fff;
    --font-size: 30px;
    --font-weight: 600;
    --font-family: Montserrat, sans-serif;
    ;
  }
  
  
  .ui3-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;

  }
  
  .ui3-btn span {
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }